<html>
<head>
    <title>AngularJS-Rio - Skeleton</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="mainModule" ng-controller="mainController">
    <div class="container">
        <h1>{{'AngularJS' | uppercase}}</h1>
            <div class="well">
                <input type="text" ng-model="termoBusca" placeholder="Filtrar lista de pessoas" class="form-control">
            </div>

            <table class="table table-striped table-bordered">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Ações</th>
                </tr>
                <tr ng-repeat="pessoa in lista | filter:termoBusca">
                    <td>{{pessoa.nome}}</td>
                    <td>{{pessoa.email}}</td>
                    <td>{{pessoa.cidade}}</td>
                    <td>{{pessoa.estado}}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="remove(pessoa)">Remover</button>
                        <button class="btn btn-success" ng-click="editar(pessoa)">Editar</button>
                    </td>
                </tr>
            </table>


        <form ng-submit="salvar()">
            <div class="form-group">
                <label for="nome" class="control-label">Nome:</label>
                <input ng-model="pessoa.nome" type="text" name="nome" class="form-control">
            </div>
            <div class="form-group">
                <label for="email" class="control-label">Email:</label>
                <input ng-model="pessoa.email" type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="cidade" class="control-label">Cidade:</label>
                <input ng-model="pessoa.cidade" type="text" name="cidade" class="form-control">
            </div>
            <div class="form-group">
                <label for="estado" class="control-label">Estado:</label>
                <input ng-model="pessoa.estado" type="text" name="estado" class="form-control">
            </div>
            <button class="btn btn-primary">Salvar</button>
        </form>


    </div>

<script type="application/javascript" src="../bower_components/angular/angular.min.js"></script>
<script type="application/javascript" src="js/app.js"></script>
</body>
</html>